* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right bottom, orange, rgb(156, 0, 220));
}

.scoreBoard{
    display: flex;
    margin-bottom: 2%;
    gap: 2%;
}
.wrapper {
  padding: 25px;
  border-radius: 10px;
  background: linear-gradient(to right bottom,rgb(156, 0, 220), orange);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.card-container,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container {
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-container .card {
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}

.card .view{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: #fff;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.25s linear;
}

img{
    object-fit: contain;
    height: 90px;
}

.card .back-view{
    transform: rotateY(-180deg);
}

.card.flip .back-view{
    transform: rotateY(0);

}

.card.flip .front-view{
    transform: rotateY(180deg);
    transform: rotateZ(90deg);
    transform: rotatex(-90deg);

}

.opacity{
    opacity: 0;
}


button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(58, 52, 52);
    font-weight: bold;
    font-size: medium;
    color: #fff;
}


/* media query*/

@media screen and (max-width: 800px) {

body{
    align-items: flex-start;
    margin-top: 10%;
}
.card-container{
    height: 350px;
    width: 350px;
}
img{
    width: 100%;
}


}


@media screen and (max-width: 530px) 
{
.card-container {
    height: 270px;
    width: 270px;
}
img{
    width: 100%;
}
}

@media screen and (max-width: 300px) 
{
.card-container {
    height: 220px;
    width: 220px;
}
img{
    width: 100%;
}
}